@media screen and (min-width: 480px) {
	#about-me img {
		float: right;
		width:45%;
		max-width: 400px;
		margin: 0 5%;
	}

	nav {
		padding: 0;
	}

	nav li {
		width: 22%;
		margin: 2.5% 5%;
	}
	nav a {
		font-size: 1.5em
	}
}

@media screen and (min-width: 660px) {
	
}